html {
  margin: 0;
  padding:0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

header {
  background-color: darkgoldenrod;
}

header h1 {
  text-align: center;
  font-size: 2rem;
}

nav {
  background-color: coral;
  padding:0;
}



/*TABELA*/

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  text-align: left;
}

/* Styl dla nagłówka tabeli */
th {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  border: 1px solid #ddd;
}
/* Styl dla komórek tabeli */
td {
  padding: 10px;
  border: 1px solid #ddd;
  vertical-align: top;
  transition: height 0.3s ease; /* Dodanie płynnej zmiany wysokości */
}

/* Alternatywne kolory wierszy */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Styl dla nagłówka pierwszej kolumny */
tr#trrow th {
  background-color: #e6e6e6;
  font-weight: bold;
  text-align: center;
}

/* Dodatkowy styl dla komórek zawierających lekcje */
td {
  white-space: pre-line; /* Umożliwia łamanie linii */
}

/* Dodatkowy styl dla separatora */
.separator {
  display: block;
  margin: 5px 0;
  border-top: 2px dashed #000000;
}

tr:nth-child(2) td:hover {
  height: 300px; /* Wysokość po najechaniu */
}



main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}